/* ------------------------
            layout
   ------------------------ */

body {
    background: url("/static/images/bg.jpg") fixed;
    background-size: cover;
    color: whitesmoke;
    margin: 0;
    font-family: Helvetica ,Arial, serif;
    min-width:1280px;        /* Suppose you want minimum width of 1000px */
    width: auto !important;  /* Firefox will set width as auto */
    width:1280px;            /* As IE6 ignores !important it will set width as 1000px; */
}

.neko{
    vertical-align: bottom;
}

.content-wrapper {
    margin: 5px 20% 0 20%;
    padding: 2% 5% 2% 5%;
    border: 2px darkgrey solid;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.85);
}

footer{
    color: lightskyblue;
    margin-top: 50px;
    font-size: 5px;
}

.center{
    text-align: center;
}
.right{
    text-align: right;
}
.rightaligned{
    margin-right: 0;
    margin-left: auto;
}
.max_width{
    width: 100%;
}
.reset_width{
    width: auto;
}
/* ------------------------
            question
   ------------------------ */
.size_question_message{
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 6px;
}
.size_tag{
    font-size: 12px;
    margin: 0;
}
.size_comment_title{
    font-weight: bold;
    font-size: 24px;
    margin: 0;
}

.good_answer{
    border: springgreen 2px solid;
    border-radius: 6px;
}

.question_answer_separator{
    border-bottom: 2px lightskyblue solid;
}

.user_display__box{
    padding: 3px;
    font-size: 16px;
    width: 150px;
    border-bottom: lightskyblue 2px solid;
    border-radius: 5px;
    background-color: rgba(120,120,120,0.2);
    display: block;
}
/* ------------------------
            tags
   ------------------------ */
.tag_id{
    padding: 2px;
    color: white;
    border: white 2px solid;
    border-radius: 5px;
}

.tag_rainbow {
    padding: 2px;
    font-weight: bold;
    -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#00abeb), to(#fff), color-stop(0.5, #fff), color-stop(0.5, #66cc00)) 21 30 30 21 repeat repeat;
    background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    color:transparent !important;
    -webkit-background-clip: text;
}
/* ------------------------
         navigation
   ------------------------ */

.nav{
    background-color: rgba(0,0,0,0.85);
    border-bottom: lightgrey 3px solid;
}
.nav_links{
    vertical-align: top;
    margin: 0 0 0 20%;
    height: 48px;
    width: 40%;
    display: inline-block;
}
.nav_user{
    vertical-align: top;
    width: 20%;
    text-align: right;
    margin: 0 19% 0 0;
    height: 48px;
    display: inline-block;
}
.nav_test{
    text-align: center;
}

a{
    color: lightskyblue;
    background: transparent;
}

#links li{
    display: inline-block;
}

#links ul{
    list-style-type: none;
    margin: 2px 0 0 0;
    padding: 0;
    overflow: hidden;
    height: 48px;
}

#links li a:link, li a:visited{
    display: inline-block;
    color: lightskyblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#links li a:hover{
    color: deepskyblue;
}

.active a:link {
    background: rgba(120, 120, 120, 0.3);
}

/* ------------------------
            input
   ------------------------ */

#custom_submit_search {
    text-decoration: none;
	color: darkgrey;
    margin-top: 5px;
	padding: 3px;
	border: 2px solid dimgrey;
    border-radius: 5px;
	background-color: rgba(0,0,0,0.8);
}
.custom_submit{
	color: darkgrey;
    margin-top: 5px;
	padding: 3px;
	border: 2px solid dimgrey;
	background-color: rgba(0,0,0,0.8);
}
#custom_submit{
	color: darkgrey;
    margin-top: 5px;
	padding: 3px;
	border: 2px solid dimgrey;
	background-color: rgba(0,0,0,0.8);
}

#custom_submit_line{
	color: darkgrey;
	padding: 3px;
	border: 1px solid dimgrey;
	background-color: rgba(0,0,0,0.8);
}

.nav input{
    border: 0;
}

input {
	color: darkgrey;
	padding: 3px 3px;
	border: 1px solid dimgrey;
	background-color: rgba(0,0,0,0.8);
}
input:hover {
	color: #FFFFFF;
}
input:active {
	color: darkgrey;
}
textarea {
  width: 60%;
  height: 150px;
}
input[type="text"] {
    width: 40%;
}
/* ------------------------
            input
   ------------------------ */
.lists{
    width: 100%;
    font-size: 24px;
    vertical-align: middle;
    padding: 0;
    border-spacing: 5px;
}

.lists_image{
    width: 5%;
}
.lists_votes{
    width: 5%;
}
.lists_views{
    width: 5%;
}
.lists_text{
    width: 85%;
}

/* ------------------------
            Common
   ------------------------ */

.margin_up_down{
    margin-top: 5px;
    margin-bottom: 5px;
}

.small_font{
    font-size: 10px;
}
.medium_font{
    font-size: 12px;
}
.right{
    text-align: right;
}
.img_tag_fix{
    position: relative;
    top: 4px;
}
