<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Comment</title>
</head>
<body>
    <h2>comment</h2>
    <p>comment</p>
    {%  if comment == None %}
        <form method="post">
            <label id="comment">Comment:</label>
            <textarea id="comment" name="comment" ></textarea><br>
            <input type="submit">
        </form>
    {% else %}
        <form method="post">
            <label id="comment">Comment:</label>
            <textarea id="comment" name="comment" >{{ comment['message'] }}</textarea><br>
            <input type="submit">
        </form>
    {% endif %}
</body>
</html>

