{% extends "layout.html" %}

{% block links %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    {% if mode == 'register' %}
    <h1>Register</h1>
    {% if success == 1 %}<p style="color: red">Username/password can't be empty.</p>{% endif %}
    {% if success == 2 %}<p style="color: red">Username already exists.</p>{% endif %}
    <form method="post" enctype=multipart/form-data>
        <table>
            <tr>
                <td>
                    <label for="username">Name:</label>
                </td>
                <td>
                    <input type="text" class="login" id="username" name="username" size="16">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="password" size="16">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="file">Image:</label>
                </td>
                <td>
                    <input type="file" id="file" name="file">
                </td>
            </tr>
        </table>
        <input type="submit" value="Register" class="big-button">
    </form>
    {% elif mode == 'edit' %}
    <form method="post" enctype=multipart/form-data>
        <table>
            <tr>
                <td>
                    <label for="username">Name:</label>
                </td>
                <td>
                    <input type="text" class="login" id="username" name="username" size="16">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="password" size="16">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="file">Image:</label>
                </td>
                <td>
                    <input type="file" id="file" name="file">
                </td>
            </tr>
        </table>
        <input type="submit" value="Edit" class="big-button">
    {% else %}
    <h1>Login</h1>
    {% if success %}<p style="color: red">Wrong username/password.</p>{% endif %}
    <form method="post">
        <table>
            <tr>
                <td>
                    <label for="username">Name:</label>
                </td>
                <td>
                    <input type="text" class="login" id="username" name="username" size="16">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="password">Password:</label>
                </td>
                <td>
                    <input type="password" id="password" name="password" size="16">
                </td>
            </tr>
        </table>
        <input type="submit" value="Login" class="big-button">
    </form>
    {% endif %}
    {% include 'footer.html' %}
{% endblock %}