{% extends "layout_user.html" %}

{% block links %}
    {% include 'navigation.html' %}
{% endblock %}


{% block userprofile %}
    <div class="center">
        {{ user['name'] }}<br>
        <bdi style="color: {{user['color']}}">{{ user['permissions'] }}</bdi><br>
        <img src="/static/avatars/{{ user['image'] }}" height="64" width="64">
    </div>
{% endblock %}

{% block userdata %}
    <p>Reputation: {{ user['reputation'] }}<br>
    Email: Hidden<br>
    Country: Not set<br></p>
    {% if user['name'] == login_data['username'] %}
        <a href="/user/edit/{{ user['id'] }}">Edit</a>
    {% endif %}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td><h2 style="margin: 9px 0 5px 0;">Questions</h2></td>
        </tr>
        {% if questions == [] %}
            <tr>
                <td>
                    This user doesn't have any questions yet
                </td>
            </tr>
        {% else %}
        {% for question in questions %}
            <tr>
                <td>
                    <ul style="margin: 3px 0 3px 0;"><li><a href="/question/{{ question['id'] }}">{{ question['title'] }}</a></li></ul>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <table>
        <tr>
            <td><h2 style="margin: 9px 0 5px 0;">Answers</h2></td>
        </tr>
        {% if answers == [] %}
            <tr>
                <td>
                    This user doesn't have any answers yet
                </td>
            </tr>
        {% else %}
        {% for answer in answers %}
            <tr>
                <td>
                    <ul style="margin: 3px 0 3px 0;"><li><a href="/question/{{ answer['question_id'] }}">{{ answer['message'] }}</a></li></ul>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    <table>
        <tr>
            <td><h2 style="margin: 9px 0 5px 0;">Comments</h2></td>
        </tr>
        {% if comments == [] %}
            <tr>
                <td>
                    This user doesn't have any comments yet
                </td>
            </tr>
        {% else %}
        {% for comment in comments %}
            <tr>
                <td><ul style="margin: 3px 0 3px 0;"><li><a href="/question/{{ comment['question_id'] }}">{{ comment['message'] }}</a></li></ul>

                </td>
            </tr>
        {% endfor %}
        {% endif %}
    </table>
    {% include 'footer.html' %}
{% endblock %}