{% extends "layout.html" %}

{% block links %}
    {% include 'navigation.html' %}
{% endblock %}

{% block content %}
    {% for user in users %}
        <table class="size_users">
        <tr>
            <td rowspan="2" style="padding-right:9px;">
                <img src="/static/avatars/{{ user['image'] }}" height="48" width="48">
            </td>
            <td>
                <a href="/user/{{ user['id'] }}" style="color: {{ user['color'] }};text-decoration: none;">{{ user['name'] }}</a>
            </td>
        </tr>
        <tr>
            <td>
                <img src="/static/images/Calendar.png" height="22" width="22"> {{ user['creation_date'] }}
            </td>
            <td>
                <img src="/static/images/Reputation%20Badge.png" height="22" width="22"> {{ user['reputation'] }}
            </td>
        </tr>
        </table>
    {% endfor %}
    {% include 'footer.html' %}
{% endblock %}